<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Donate</title>
</head>

<body>
  <h1>Fill in the details</h1>
  Donor ID <br>
  <form action="donate" method="post"> <br>
    <input type="text" name="id" placeholder="Donor ID"> <br>
      <select  name="hospital" placeholder='Hospital'>
      <option selected disabled>Choose Hospital</option>
      <% results.forEach((result) => { %>
      <option><%= JSON.stringify(result.name + ', ' + result.city + ', ' + result.pin)%></option><br>
      <% }); %>
    </select>
    <input type="submit" value="Submit" onclick="alert('Thank You for your donation!')">
  </form>
</body>

</html>
